@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

html, body, header, main{
    height: 100%;
}

body.row{
    overflow: hidden;
    margin:0;
}

main.col-lg-10{
    overflow:auto;
    padding: 0;
}

section{
    min-height: 100%;
    padding-top:45px;
    padding-left:45px;
}

article{
    padding-top:20px;
}

#logo{
    max-width: 90%;
    margin: 20px 0 0 0;
}

h4 ~ small{
    position:relative;
    top: -10px;
}

ul.navbar-nav{
    padding: 0;
}

ul ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-dark .navbar-nav .nav-link{
    padding:5px 0;
}

.navbar-dark .navbar-nav .nav-item {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-item:hover,
.navbar-dark .navbar-nav .nav-item:focus {
    color: rgba(255, 255, 255, 0.75);
}

.card-img {
    padding: 10px;
    text-align: center;
}

.card-img img{
    max-width: 90%;
}

pre{
    padding: 5px 10px;
    background: #f8f9fa;
    outline: 2px solid #dee2e6;
    outline-offset: 5px;
}

kbd{
    background-color: #777;
}

footer{
    margin: 20px 0 0 0;
    padding: 10px;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    text-align: center;
}

@media (min-width: 992px) {
    .navbar-expand-lg{
        flex-flow: column;
    }
}

@media (max-width: 992px) {
    header.col-lg-2{
        height: auto;
        min-height: 96px;
        position: fixed;
        text-align: left;
        z-index:99;
    }

    main{
        padding-top:96px;
        padding-bottom: 30px;
    }

    section, section article{
        padding-top:116px;
        padding-left:0;
        min-height: 0;
    }

    #logo{
        height: 64px;
        margin: 0;
    }
}